body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
  color: #141414;
  font-size: 14px;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-highlighting {
  // background-color: #ffe58f;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}


.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
  border-color: rgba(0,0,0,0.06) !important;
}

.current-selected-datepoint {
  background-color:#fff7e6;

  // background-image: linear-gradient(0deg,#e8ffed 0%, #ffffff 50%, #ffffff 100%);

  &.source {
    background-color:#ffd591;
  }

  &:hover {
    .ant-table-cell {
      background: none !important;
    }
  }
}

.ant-pro-sider-footer {
  padding: 16px;
}