p Dear #{toWhom}

p Your account has been deleted from EasyValueCheck. Your access has been removed for all portfolios.

p Please 
  a(href=website + '/signon') Sign On
  |  if you need again.

include ../signature.pug