p Thank you very much.
p Kind Regards,
p --
small(style='color:#888888')
  img(alt='EasyValueCheck Logo' width='150px' height='auto' src=website + '/images/header-logo.png')
  p
    | W 
    a(href=website target='_blank' rel='noreferrer noopener') #{website}
    br
    | E 
    a(href='mailto:contact@easyvaluecheck.com') contact@easyvaluecheck.com